<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Elandr.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C3BC98AC1F7331B800F582DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C3BC98C01F7331B900F582DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C3BC98CB1F7331B900F582DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
